{
  "tabWidth": 2,
  "printWidth": 120,
  "bracketSameLine": true,
  "overrides": [
    {
      "files": ["*.scss", "*.css", "*.ts", "*.js", "*.cjs"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
